/* styles.css */

:root {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --accent-color: #4CAF50;
  --card-bg: #1e1e1e;
  --font-family: "Courier New", monospace;
}

.sidebar h2 {
  text-align: center;
}

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: #0b0b0b;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
}


.onion-link {
  font-size: 0.8rem;
  color: #aaa;
  display: block;
  margin-top: 8px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

#access-darkweb {
  background-color: var(--card-bg);
  padding: 20px;
  margin: 15px auto;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

#access-darkweb a {
  color: var(--accent-color);
  text-decoration: underline;
  box-sizing: border-box;
}



/* Buy me a coffe */

.support-link {
  text-align: center;
  margin: 20px 0; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  background-color: #282828; /* Match your card background color */
  border-radius: 8px; /* Match your card border radius */
}

.support-link p {
  color: #eee; /* Match your body text color */
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.support-link a {
  display: inline-block; /* Helps with alignment if needed */
}

.support-link img {
  width: 200px;
  transition: transform 0.2s ease;
}

.support-link img:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive design (optional) */
@media (max-width: 768px) {
  .support-link {
    padding: 15px;
  }

  .support-link img {
    width: 150px;
  }
}
